header{
    background-color: rgb(255, 255, 255);
}

.logo{
    width: 80px;
    height: 55px;
}


.imgCatalogo{
    width: 240px;
    height: 240px;
}

.articles{
    text-align: center;
    width:30%;
    height: 330px;
    margin: 1%;
    float: left;
}
